<div class="valign-wrapper register-page" ng-controller = "MainCtrl">

  <form class="login-card" name="registerForm" md-whiteframe="1">
    <h1>Welcome to the Student Ebook Portal</h1>

    <div class="" layout = "row" layout-xs = "column">
      <md-input-container class="md-icon-float md-block " flex-gt-sm = "100">
        <label>Email</label>
        <md-icon>mail</md-icon>
          <input required md-no-asterisk name="email" ng-model="user.email">
          <div ng-messages="registerForm.email.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>
      <div class="" layout = "row" layout-xs = "column">
        <md-input-container class="md-icon-float md-block" flex-gt-sm = "100">
          <label>Password</label>
          <md-icon>vpn_key</md-icon>
          <input required ng-model="user.password" md-no-asterisk type="password" name = "password">
          <div ng-messages="registerForm.password.$error" role="alert">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>

      <div layout = "column" layout-align = "center center">
      <md-button value = "Submit valid inputs" ng-disabled="registerForm.$invalid" class="md-raised btn1" ng-click = "logInUser(user)">Login</md-button>
      <br><a href="#!/register">Don't have an account click here to Register?</a>
      </div>
      <div layout="row" layout-sm="column" layout-align="center center" >
          <md-progress-linear  ng-show = "isRegister" md-mode="indeterminate"></md-progress-linear>
      </div>
  </form>
</div>
